[submodule "components/ESPectro32"]
	path = components/ESPectro32
	url = https://github.com/dycodex/ESPectro32
[submodule "components/esp-request"]
	path = components/esp-request
	url = https://github.com/tuanpmt/esp-request
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/andriyadi/u8g2
[submodule "components/ADXL345"]
	path = components/ADXL345
	url = https://github.com/andriyadi/SparkFun_ADXL345_Arduino_Library
